<?xml version="1.0"?>

<robot name="double_pendulum_ext" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="double_pendulum_ext_params.xacro"/>

    <!-- Eslabon tipo "barra" - va desde su origen hasta +X una distancia "length" -->
    <xacro:macro name="link_box" params="name length color_name color_rgba">
        <link name="${name}">
            <visual>
                <origin xyz="${length/2} 0 0"/>
                <geometry>
                    <box size="${length+0.02} ${link_width} ${link_height}"/>
                </geometry>
                <material name="${color_name}">
                    <color rgba="${color_rgba}"/>
                </material>
            </visual>
            <collision>
                <origin xyz="${length/2} 0 0"/>
                <geometry>
                    <box size="${length} ${link_width} ${link_height}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <!-- World link -->
    <link name="world"/>

    <!-- Link base (fijo) -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 ${base_length/2}"/>
            <geometry>
                <cylinder radius="${base_radius}" length="${base_length}"/>
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 ${base_length/2}"/>
            <geometry>
                <cylinder radius="${base_radius}" length="${base_length}"/>
            </geometry>
        </collision>
    </link>

    <!-- Eslabones del péndulo doble original -->
    <xacro:link_box name="link1" length="${L1}" color_name="blue" color_rgba="0 0 1 1"/>
    <xacro:link_box name="link2" length="${L2}" color_name="red" color_rgba="1 0 0 1"/>

    <!-- Poste cilíndrico de la junta prismática -->
    <link name="link3">
        <visual>
            <geometry>
                <cylinder radius="${link3_radius}" length="${L3}"/>
            </geometry>
            <material name="magenta">
                <color rgba="1 0 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${link3_radius}" length="${L3}"/>
            </geometry>
        </collision>
    </link>

    <!-- Bloque casi cúbico de la junta rotacional adicional -->
    <link name="link4">
        <visual>
            <geometry>
                <box size="${link4_length} ${link4_width} ${link4_width}"/>
            </geometry>
            <material name="cyan">
                <color rgba="0 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="${link4_length} ${link4_width} ${link4_width}"/>
            </geometry>
        </collision>
    </link>

    <!-- Herramienta -->
    <link name="tool0"/>

    <!--******************* DEFINICIONES DE JUNTAS  *******************-->

    <!-- Junta fija entre world y base_link -->
    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.2 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Junta entre base y link1 -->
    <joint name="joint1" type="revolute">
        <parent link="base_link"/>
        <child link="link1"/>
        <origin xyz="0 0 ${base_length}"/>
        <axis xyz="0 0 1"/>
        <limit effort="${revolute_effort}" lower="${revolute_lower}" upper="${revolute_upper}" velocity="${revolute_velocity}"/>
    </joint>

    <!-- Junta entre link1 y link2 -->
    <joint name="joint2" type="revolute">
        <parent link="link1"/>
        <child link="link2"/>
        <origin xyz="${L1} 0 ${link_height}"/>
        <axis xyz="0 0 1"/>
        <limit effort="${revolute_effort}" lower="${revolute_lower}" upper="${revolute_upper}" velocity="${revolute_velocity}"/>
    </joint>

    <!-- (a) Junta prismática nueva - sube y baja en Z, sobre la punta de link2 -->
    <joint name="joint3" type="prismatic">
        <parent link="link2"/>
        <child link="link3"/>
        <origin xyz="${L2} 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="${prismatic_effort}" lower="${prismatic_lower}" upper="${prismatic_upper}" velocity="${prismatic_velocity}"/>
    </joint>

    <!-- (b) Junta rotacional adicional - rota en Z, el mismo eje sobre el que sube y baja link3 -->
    <joint name="joint4" type="revolute">
        <parent link="link3"/>
        <child link="link4"/>
        <origin xyz="0 0 -${L3/2}"/>
        <axis xyz="0 0 1"/>
        <limit effort="${revolute_effort}" lower="${revolute_lower}" upper="${revolute_upper}" velocity="${revolute_velocity}"/>
    </joint>

    <!-- Herramienta al final de link4 -->
    <joint name="tool0_fixed" type="fixed">
        <parent link="link4"/>
        <child link="tool0"/>
        <origin xyz="${link4_length/2} 0 0" rpy="0 0 0"/>
    </joint>

</robot>
